:root {
  --primary-color: #c51f2c;
  --body-bg-color: #000000;
  --heading-color: #ffffff;
  --content-color: #d9d9d9;
  --white: #ffffff;
  --nav-link-color: #cbcbcb;
  --footer-bg: "transparent";
    --theme-bg:"transparent";
    --box-bg-color:  #ffffff;

  --primary-font: var(--font-dm-sans);
  --secondary-font: var(--font-noto-sans);
}

:root.light-theme {
  --body-bg-color: #ffffff;
  --heading-color: #000000d9;
  --content-color: #000000d9;
  --nav-link-color: #000000D9;
  --white: #000000d9;
  --footer-bg: #eed9d8;
  --theme-bg: #eed9d880;
    --box-bg-color:#000000;

}

body {
  margin: 0;
  padding: 0;
  // background-color: red;

  background-color: var(--body-bg-color);
  font-family: var(--font-dm-sans), sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-family: var(--font-dm-sans);
  color: var(--heading-color);
  font-weight: 700;
  line-height: 76px;
  font-size: clamp(32px, 4vw, 60px);

  @media (max-width: 1440px) {
    line-height: 100%;
  }
}

//custom dev
h2 {
  font-weight: 700;
    font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: var(--white);
  @media (max-width: 768px) {
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
     color: var(--white);
  }
}

//mission

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

//why kivaro
h5 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: justify;
}

p {
  color: var(--content-color);
  font-family: var(--font-dm-sans);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 200;

  @media (max-width: 768px) {
    font-size: 16px;
    font-family: var(--font-dm-sans);
    color: var(--content-color);
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin: 14px 0px;
  }
}
